@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --sl-default: rgb(245, 246, 250);
    --sl-dark: rgb(0, 0, 0);
    --sl-dark-blur: rgba(0, 0, 0, 0.205);
    --sl-danger: rgb(206, 92, 92);
    --light: rgb(255, 255, 255);
    --sl-success: rgb(163, 212, 134);
    --sl-info: rgb(136, 148, 206);
    --sl-alert: rgb(228, 226, 114);
}

body {
    width: 100vw;
    height: 100vh;
    font-family: 'Poppins', sans-serif !important;
    background-color: var(--light) !important;
    scrollbar-width: thin;
    scrollbar-color: var(--sl-dark) transparent;
    overflow: hidden;
}

h1, h2, h3, h4, h5, h6, span, p {
    color: var(--sl-dark);
    margin: 1px;
}

span {
    font-size: 14px;
}

p, label {
    font-size: 16px;
}

a, li, ul {
    text-decoration: none !important;
    list-style: none !important;
}

a {
    color: unset !important;
}

input {
    font-family: 'Poppins', sans-serif !important;
}

#root {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
}

::-webkit-scrollbar {
    width: 7px;
}

::-webkit-scrollbar-track {
    background: transparent;
} 

::-webkit-scrollbar-thumb {
    background-color: var(--sl-dark);
    opacity: 0.6 !important;
    border-radius: 20px;
    /* border: 3px solid transparent; */
}

@media screen and (max-width: 769px) {
    #root {
        flex-direction: column;
    }
}